body {
   background: #f4f1e5;
   /*background-image: url("https://images6.alphacoders.com/427/427408.jpg");*/
   background-size:;
  color: #544738;
   font-family: helvetica, sans-serif;
}
.buttons{
	/*margin: auto;
    position: relative;
    top: 40%;
    left: 30%;*/
 position: fixed;
  top: 50%;
  left: 30%;
 	/*transform depends on the users screen sizes */
  transform: translate(-50%, -50%);
}
.button1{
	/*
	img size relative to user interface
	*/
	float:left;
	max-width: 33%;
	max-height: 33%;
	box-shadow: 10px 10px 5px #888888;
}
.button2{
	float:left;
	max-width: 33%;
	max-height: 33%;
	box-shadow: 10px 10px 5px #888888;
}

.button3{
	float:left;
	max-width: 33%;
	max-height: 33%;
	box-shadow: 10px 10px 5px #888888;
}
.text{
	
	text-indent: 40px;

}

.socialMediaButton{
	color:#FFFFFF;
	/*social media buttons located at bottom of the page*/
	position: absolute;
	bottom: 0;



}

.facebookButton{
	float:left;
}
.instagramButton{
	float:left;
}

ul{
	background-color: black;
	text-align: center;

}
ul li {
	float: left;
	list-style: none;
	margin-right: 1em; 
	font-family: '3Dumb', helvetica, sans-serif;
	font-size: 50px;
	padding: 12px; 
	width: 15%;

}
 
li a {
	color: #544738;
	text-decoration: none;
	float: left;
	/*font-size: 25px;
	padding: 12px;*/
}


li a:hover {
	color: #7eb9be;
	-webkit-transform: rotate(-10deg) scale(1.2);
	-moz-transform: rotate(-10deg) scale(1.2);
	-o-transform: rotate(-10deg) scale(1.2);
	/*color: #7eb9be;*/
}
@font-face{
	font-family: 3Dumb;
	src: url(3Dumb/3Dumb.ttf) format("truetype");
}
/*.left a:hover {
	-webkit-transform: rotate(-10deg) scale(1.2);
	-moz-transform: rotate(-10deg) scale(1.2);
	-o-transform: rotate(-10deg) scale(1.2);
}
 
.right a:hover {
	-webkit-transform: rotate(10deg) scale(1.2);
	-moz-transform: rotate(10deg) scale(1.2);
	-o-transform: rotate(10deg) scale(1.2);
}
*/

.left a:hover {
	
	/*Transition*/ 
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
	
	/*Transform*/ 
	-webkit-transform: rotate(-10deg) scale(1.2);
	-moz-transform: rotate(-10deg) scale(1.2);
	-o-transform: rotate(-10deg) scale(1.2);

	/*sizing*/
	max-width: 20%;
}
 
.right a:hover {
 
	/*Transition*/ 
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
	
	/*Transform*/ 
	-webkit-transform: rotate(10deg) scale(1.2);
	-moz-transform: rotate(10deg) scale(1.2);
	-o-transform: rotate(10deg) scale(1.2);

	/*sizing*/
	max-width: 20%;
}

