.buttons{
	/*margin: auto;
    position: relative;
    top: 40%;
    left: 30%;*/
 position: fixed;
  top: 50%;
  left: 50%;
 	/*transform depends on the users screen sizes */
  transform: translate(-50%, -50%);
}
.button1{
	float:left;
}
.button2{
	float:left;
}

.button3{
	float:left;
}

p.text{
	color:pink;
	float: bottom;
}